<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	
	
	
	
<title>Lifetime</title>



<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">

<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link href="../css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for this page -->
<link href="../vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">



 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery.maphilight.js"></script>

      <!--Linking JQuery code file-->
     <script type="text/javascript" src="../script.js"></script>  
     <script type="text/javascript" src="../nomoi_geojson.js"></script>
     <script type="text/javascript" src="../dimoi_json.js"></script>
        <script type="text/javascript" src="../geoserver-GetFeature.js"></script>
                <script type="text/javascript" src="../perifereies.js"></script>

	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="../js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="../vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>


	<!-- Page level custom scripts -->
	<script src="../js/demo/datatables-demo.js"></script>
	
	
	<style>
	
#kriti:hover {
    fill: black;
}

#anatoliki_makedonia_kai_thraki:hover {
    fill: black;
}

#ditiki_ellada:hover {
    fill: black;
}

#attiki:hover {
    fill: black;
}

#peloponnnisos:hover {
    fill: black;
}

#sterea_ellada:hover {
    fill: black;
}

#ditiki_makedonia:hover {
    fill: black;
}

#ionioi_nisoi:hover {
    fill: black;
}

#thessalia:hover {
    fill: black;
}

#kentriki_makedonia:hover {
    fill: black;
}

#ipiros:hover {
    fill: black;
}

#vorio_aigaio:hover {
    fill: black;
}

#notio_aigaio:hover {
    fill: black;
}
	</style>

</head>

<body id="page-top" >
	<div id="wrapper">

		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				href="/dashboard ">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-hands-helping"></i>
				</div>
				<div class="sidebar-brand-text mx-3">
					LifeTime <sup th:text="${loggedinUser.roles}"> </sup>
				</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active"><a class="nav-link" href="/ekab/admin ">
					<i class="fas fa-fw fa-tachometer-alt"></i> <span> Κεντρική Διαχείριση </span>
			</a>
			</li>
		

		</ul>




		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">
				<!-- Topbar -->
				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Search -->
					<form
						class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
						<div class="input-group">
							<input type="text" class="form-control bg-light border-0 small"
								th:placeholder="#{topBar.search}"  aria-label="Search"
								aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</div>
					</form>

					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none">
							<a class="nav-link dropdown-toggle" href="/#" id="searchDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								
								<i class="fas fa-search fa-fw"></i>
								
							</a> 
						
						
						<!-- Dropdown - Messages -->
							<div
								class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
								aria-labelledby="searchDropdown">
								<form class="form-inline mr-auto w-100 navbar-search">
									<div class="input-group">
										<input type="text"
											class="form-control bg-light border-0 small"
											th:placeholder="#{topBar.search}"  aria-label="Search"
											aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-primary" type="button">
												<i class="fas fa-search fa-sm"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</li>

						<!-- Nav Item - Alerts -->
						<li class="nav-item dropdown no-arrow mx-1">
						
							<a  class="nav-link dropdown-toggle"
							    href="/#"
							    id="alertsDropdown"
								role="button"
								data-toggle="dropdown" 
								aria-haspopup="true"
								aria-expanded="false">
								
								 <i class="fas fa-bell fa-fw" onclick="restartNotif();"></i>
								 
								  <!-- Counter - Alerts -->
								<span class="badge badge-danger badge-counter">3+</span>
							</a>
							
							 <!-- Dropdown - Alerts -->
							<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
								 aria-labelledby="alertsDropdown">
								 
								<h6 class="dropdown-header">[[#{dashboard.notifications_title}]]</h6>
								
								<a class="dropdown-item d-flex align-items-center" href="/#">
											
											<div class="mr-3">
												<div class="icon-circle bg-primary">
													<i class="fas fa-file-alt text-white"></i>
												</div>
											</div>
											
											<div>
												<div class="small text-gray-500">December 12, 2019</div>
												<span class="font-weight-bold">A new monthly report is
													ready to download!</span>
											</div>
											
								</a>
								
								<a class="dropdown-item d-flex align-items-center" href="/#">
											
											<div class="mr-3">
												<div class="icon-circle bg-success">
													<i class="fas fa-donate text-white"></i>
												</div>
											</div>
											
											<div>
												<div class="small text-gray-500">December 7, 2019</div>
												$290.29 has been deposited into your account!
											</div>
								</a> 
								
								<a class="dropdown-item d-flex align-items-center" href="/#">
											<div class="mr-3">
												<div class="icon-circle bg-warning">
													<i class="fas fa-exclamation-triangle text-white"></i>
												</div>
											</div>
											<div>
												<div class="small text-gray-500">December 2, 2019</div>
												Spending Alert: We've noticed unusually high spending for your
												account.
											</div>
								</a>
								
								<a class="dropdown-item text-center small text-gray-500"
								   href="/manageEvents">
								   
								   [[#{dashboard.notifications_details}]]
								   
								</a>
							</div>
							
						</li>

						<!-- Nav Item - Messages -->
						<li class="nav-item dropdown no-arrow mx-1"><a
							class="nav-link dropdown-toggle" href="/#" id="messagesDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							
							 <i class="fas fa-envelope fa-fw"></i>
								
								<!-- Counter - Messages -->
								 <span class="badge badge-danger badge-counter">7</span>
						</a>
						
						 <!-- Dropdown - Messages -->
							<div
								class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="messagesDropdown">
								
								<h6 class="dropdown-header">[[#{dashboard.chat}]]</h6>
								
								<a class="dropdown-item d-flex align-items-center" href="/#">
								
									<div class="dropdown-list-image mr-3">
										<img class="rounded-circle"
											src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
										<div class="status-indicator bg-success"></div>
									</div>
									
									<div class="font-weight-bold">
									
										<div class="text-truncate">Hi there! I am wondering if
											you can help me with a problem I've been having.</div>
											
										<div class="small text-gray-500">Emily Fowler · 58m</div>
										
									</div>
									
								</a> 
								<a class="dropdown-item d-flex align-items-center" href="/#">
								
									<div class="dropdown-list-image mr-3">
									
										<img class="rounded-circle"
											 src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
											 
										<div class="status-indicator"></div>
									</div>
									
									<div>
									
										<div class="text-truncate">I have the photos that you
											ordered last month, how would you like them sent to you?</div>
										<div class="small text-gray-500">Jae Chun · 1d</div>
										
									</div>
									
								</a>
								
								<a class="dropdown-item d-flex align-items-center" href="/#">
									<div class="dropdown-list-image mr-3">
									
										<img class="rounded-circle"
											src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
											
										<div class="status-indicator bg-warning"></div>
										
									</div>
									
									<div>
									
										<div class="text-truncate">Last month's report looks
											great, I am very happy with the progress so far, keep up the
											good work!</div>
											
										<div class="small text-gray-500">Morgan Alvarez · 2d</div>
										
									</div>
									
								</a> 
								
								<a class="dropdown-item d-flex align-items-center" href="/#">
								
									<div class="dropdown-list-image mr-3">
										<img class="rounded-circle"
											src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
										<div class="status-indicator bg-success"></div>
									</div>
									
									<div>
									
										<div class="text-truncate">Am I a good boy? The reason I
											ask is because someone told me that people say this to all
											dogs, even if they aren't good...</div>
											
										<div class="small text-gray-500">Chicken the Dog · 2w</div>
										
									</div>
									
								</a> 
								
								<a class="dropdown-item text-center small text-gray-500"
									href="/#">[[#{dashboard.chat_details}]]</a>
									
							</div>
							
						</li>

						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow" role="presentation">
							<div class="nav-item dropdown no-arrow">
								<a class="dropdown-toggle nav-link" data-toggle="dropdown"
									aria-expanded="false" href="#"><span
									class="d-none d-lg-inline mr-2 text-gray-600 small"
									th:text="${loggedinUser.name} + ' '+${loggedinUser.surname} ">
								</span><img id="roundedImageProfile" th:src="@{'/profileImages/'+${loggedinUser.photo}}"
									class="border rounded-circle img-profile"></a>
								<div
									class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
									role="menu">
									<a class="dropdown-item" role="presentation" href="/profile"><i
										class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;[[#{dashboard.profile_item1}]]</a>
									<div class="dropdown-divider"></div>
									<a href="/logout" class="dropdown-item" role="/logout"><i
										class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;[[#{dashboard.profile_item2}]]</a>
								</div>
							</div>
						</li>
						
						<li class="nav-item" style="width: auto; display: inline-block;"><a
							class="nav-link" th:href="@{?lang=en}"> <img
								th:src="@{/img/en.png}">
						</a></li>

						<li class="nav-item" style="width: auto; display: inline-block;"><a
							class="nav-link" th:href="@{?lang=el}"> <img
								th:src="@{/img/el.png}">
						</a></li>
					</ul>

				</nav>
				<!-- End of Topbar -->

				<div class="container-fluid">
				
				
				<div class="row">
						
						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-primary text-uppercase mb-1"
												th:text="'Απινιδωτες: '+${loggedinUser.country}"></div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${aedsByCountryLength}"></div>
										</div>
										<div class="col-auto">
											<i class="fas fa-heartbeat fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-success text-uppercase mb-1"
												th:text="'Ενεργοι πολιτες : '+${loggedinUser.country} "></div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text=" ${usersByCountryLength}"></div>
										</div>
										<div class="col-auto">
											<i class="fas fa-users fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-info shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-info text-uppercase mb-1"
												th:text="'ΠΕΡΙΑΣΤΑΤΙΚΑ ΣΗΜΕΡΑ :' +${loggedinUser.country}"></div>
											<div class="row no-gutters align-items-center">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
														th:text="${eventsByCountryDateSize}"></div>
												</div>

											</div>
										</div>
										<div class="col-auto">
											<i class="fas fa-check fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Pending Requests Card Example -->
						<div class="col-xl-3 col-md-6 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutte rs align-items-center">
										<div class="col mr-2">
											<div
												class="text-xs font-weight-bold text-warning text-uppercase mb-1"
												th:text="'Μη επιδιορθωμενοι :' +${loggedinUser.country}"></div>
											<div class="h5 mb-0 font-weight-bold text-gray-800"
												th:text="${notFixed}"></div>
										</div>
										<div class="col-auto">
											<i class="fas fa-times fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				

					<div class="row mb-5">

						<div class="col-lg-12">

							<div class="row mb-5">

								<!-- Area Chart -->
								<div class="col-xl-8 col-lg-7">
									<div class="card shadow mb-4">
										<!-- Card Header - Dropdown -->
										<div
											class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
											<h6 class="m-0 font-weight-bold text-primary">Χάρτης</h6>

										</div>
										<!-- Card Body -->
										<div class="card-body mb-5">



											
												
				<div style="height:500px; width:500px;" class="chart-area" id="mapNomoi"></div>	
							 
  
											
											</div>

										</div>
									</div>

								</div>

								<!-- Pie Chart -->
								<div class="col-lg-4 mb-3">


									<div class="card shadow">
										<div class="card-header py-3">
											<h6 class="m-0 font-weight-bold text-primary " id="incident">Περιφέρειες</h6>
										</div>
										<div class="card shadow mb-5">
											<div class="card-body">
												
													<ul class="province" >

														<li><a href="poli_list.php?id_polis=14&page=1">Π. ΑΝΑΤΟΛΙΚΗΣ ΜΑΚΕΔΟΝΙΑΣ - ΘΡΑΚΗΣ</a></li>
														<li><a href="poli_list.php?id_polis=1&page=1">Π. ΚΕΝΤΡΙΚΗΣ ΜΑΚΕΔΟΝΙΑΣ</a></li>
														<li><a href="poli_list.php?id_polis=45&page=1">Π. ΔΥΤΙΚΗΣ ΜΑΚΕΔΟΝΙΑΣ</a></li>

														<li><a href="poli_list.php?id_polis=11&page=1">Π. ΗΠΕΙΡΟΥ</a></li>

														<li><a href="poli_list.php?id_polis=40&page=1">Π. ΘΕΣΣΑΛΙΑΣ</a></li>
														<li><a href="poli_list.php?id_polis=41&page=1">Π. ΒΟΡΕΙΟΥ ΑΙΓΑΙΟΥ</a></li>
														<li><a href="poli_list.php?id_polis=42&page=1">Π. ΝΟΤΙΟΥ ΑΙΓΑΙΟΥ</a></li>



														<li><a href="poli_list.php?id_polis=22&page=1">Π. ΣΤΕΡΕΑΣ ΕΛΛΑΔΑΣ</a></li>
														<li><a href="poli_list.php?id_polis=6&page=1">Π. ΔΥΤΙΚΗΣ ΕΛΛΑΔΑΣ</a></li>

														<li><a href="poli_list.php?id_polis=29&page=1">Π. ΠΕΛΟΠΟΝΝΗΣΟΥ</a></li>
														<li><a href="poli_list.php?id_polis=30&page=1">Π. ΙΟΝΙΩΝ ΝΗΣΩΝ</a></li>

														<li><a href="poli_list.php?id_polis=21&page=1">Π. ΚΡΗΤΗΣ</a></li>


														<li><a href="poli_list.php?id_polis=34&page=1">Π. ΑΤΤΙΚΗΣ</a></li>

														


													</ul>


												
											</div>
										</div>
									</div>

								</div>
								
								
								<div class="col-xl-4 col-lg-5">
							<div class="card shadow mb-4">
								<!-- Card Header - Dropdown -->
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">Περιστατικά
										ανα πόλη</h6>
								</div>
								<!-- Card Body -->
								<div class="card-body">
									<div class="chart-pie pt-4">
										<div id="myPieChart"></div>
									</div>

								</div>
							</div>
						</div>



							</div>

						</div>

					</div>
				</div>

				<footer class="bg-white sticky-footer">
					<div class="container my-auto">
						<div class="text-center my-auto copyright">
							<span>Copyright © Brand 2019</span>
						</div>
					</div>
				</footer>
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i
				class="fas fa-angle-up"></i></a>
		</div>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
		<script
			src="../assets/js/script.min.js?h=9af5f655239f5ce4fa692ca1c1513d50"></script>
			
			

		
		
		
		<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>
		
		
		
		
		<script>
		
		var mapNomoi = L.map('mapNomoi').setView([37.990832,23.7033199], 6);
		
		 L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
				maxZoom: 18,
				attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
					'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
				id: 'mapbox/streets-v11',
				tileSize: 512,
				draggable: false,
				zoomOffset: -1
			}).addTo(mapNomoi);
		 
		 
		
		 
		// map.dragging.disable();
		 
			 L.geoJSON(perifereies, {
			    style: function(feature) {
			        switch (feature.properties.party) {
			            case 'Republican': return {color: "#FF0000"};
			            case 'Democrat':   return {color: "#0000FF"};
			        }
			    },
			    onEachFeature: onEachFeaturePerifereia
			}).addTo(mapNomoi);
			 
			 
			 function onEachFeaturePerifereia(feature, layer) {
				    layer.on('click', function (e) { 	
				        //alert(decodeURIComponent(escape(e.target.feature.properties.namegr)));
				        
				       // alert(e.target.feature.properties.name_greek);
				        
				        
				        
				        L.geoJSON(states, {
						    style: function(feature) {
						        switch (feature.properties.party) {
						            case 'Republican': return {color: "#800026"};
						            case 'Democrat':   return {color: "#FFEDA0"};
						        }
						    },
						    onEachFeature: onEachFeatureNomos
						}).addTo(mapNomoi);
				       
				        
				     //   var nomosLat=e.target.feature.geometry.coordinates[0][0][0];
				      ///  var nomosLon=e.target.feature.geometry.coordinates[0][0][1];
				        
				       // mapNomoi.setView([nomosLon,nomosLat], 8);
				  
				        
				   	 function onEachFeature(feature, layer) {
						    layer.on('click', function (e) { 	
						       // alert(decodeURIComponent(escape(e.target.feature.properties.namegr)));
						       // alert(e.target.feature.properties.id);
						    });
						}
				       
				       
				    });
				}
			 
			 
	
		 

		 
		// map.dragging.disable();
		 
		 function onEachFeatureNomos(feature, layer) {
			    layer.on('click', function (e) { 	
			        //alert(decodeURIComponent(escape(e.target.feature.properties.namegr)));
			        
			        alert(e.target.feature.properties.name_greek);
			        
			        
			        
			        L.geoJSON(dimoi, {
					    style: function(feature) {
					        switch (feature.properties.party) {
					            case 'Republican': return {color: "#800026"};
					            case 'Democrat':   return {color: "#FFEDA0"};
					        }
					    },
					    onEachFeature: onEachFeature
					}).addTo(mapNomoi);
			       
			        
			        var nomosLat=e.target.feature.geometry.coordinates[0][0][0];
			        var nomosLon=e.target.feature.geometry.coordinates[0][0][1];
			        
			        mapNomoi.setView([nomosLon,nomosLat], 8);
			  
			        
			   	 function onEachFeature(feature, layer) {
					    layer.on('click', function (e) { 	
					        alert(decodeURIComponent(escape(e.target.feature.properties.namegr)));
					       // alert(e.target.feature.properties.id);
					    });
					}
			       
			       
			    });
			}
		 
		</script>
		
		
		
		
		<script type="text/javascript" th:inline="javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        	  /*<![CDATA[*/
        	['Χώρες', 'Περιστατικά'],
        	
        	
        	
 		   /*[# th:each="i : ${#numbers.sequence( 0, citySize-1)}"]*/
          [ [[${allCities[i]}]],  [[${allCounters[i]}]]  ],
          /*[/]*/         
          [ [[${last_city}]],  [[${last_counter}]]  ]
        ]);
        	
        /*]]>*/

        var options = {
        		width: 400,
        		  height: 240,
        		is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
        chart.draw(data, options);
      }
    </script>

		
		
		
</body>

</html>