<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        <!--  jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

        <style>
.register{
    background: -webkit-linear-gradient(left, #c13b4d, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #c13b4d;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #c13b4d;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #c13b4d;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #c13b4d;
    border: 2px solid #c13b4d;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}


        </style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>


       
    </head>
    <body ng-app="myapp">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="https://foreverlifetime.com"
                style="color: #c13b4d;"> <img
                src="img/LifeTime_Brand_Logo_2.png"
                width="30" height="30" class="d-inline-block align-top" alt="">
                LifeTime
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
          </ul>
                <form class="form-inline my-2 my-lg-0">
                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           -->
                    <li class="nav-item" style="width: auto; display: inline-block;">
                        <a class="nav-link" th:href="@{?lang=en}"> <img
                            th:src="@{/img/en.png}">
                    </a>
                    </li>
    
                    <li class="nav-item" style="width: auto; display: inline-block;">
                        <a class="nav-link" th:href="@{?lang=el}"> <img
                            th:src="@{/img/el.png}">
                    </a>
                    </li>
    
                </form>
            </div>
        </nav>
 
        <div class="container register">           
            <div class="row">
                <div class="col-md-3 register-left">
                    <img src="img/LifeTime-heart.png" alt=""/>
                    <h3>Welcome</h3>
                    <p>You are 30 seconds away from eliminating emergency response time!</p>
                    <input type="submit" name="" value="Logout"/><br/>
                </div>

                <div class="col-md-9 register-right">

                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                                    
                        <li class="nav-item">
                            <a class="nav-link " id="home-tab" data-toggle="tab" href="#employee_btn" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                        </li>
                                    
                        <!-- <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#ambulance_btn" role="tab" aria-controls="profile" aria-selected="false">Ambulance</a>
                        </li> -->
               
                    </ul>
                                
                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active" id="employee_div" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Apply as an Employee of [[${hospitalName}]] </h3>
                            
                            <form name="set-user" th:action="@{/setUserCredentialsSuccess}" th:object="${user}" method="POST">
                            <div class="row register-form">

                              
                                
                                    <!-- -------------------------FIRST COLUMN------------------------- -->
                                    <div class="col-md-6">

                                        

                                                    <!-- NAME INPUT FIELD -->

                                                    <label> 
                                                        <span>First Name</span> 
                                                    </label>
                                                    <div class="form-group">
                                                        <input type="text" name="name" id="name" th:field="*{name}" class="form-control" placeholder="First Name *" value="" required>
                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Please choose a name with more than 3 characters.
                                                        </div>
                                                    </div>

                                                    
                                                    <!-- SURNAME INPUT FIELD -->

                                                    
                                                    <label> 
                                                        <span>Last Name</span> 
                                                    </label>
                                                    <div class="form-group">
                                                        <input type="text" name="surname" id="surname" th:field="*{surname}" class="form-control" placeholder="Last Name *" value="" required/>
                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Please choose a surname with more than 3 characters.
                                                        </div>
                                                    </div>

                                                    <!-- USERNAME INPUT FIELD -->

                                                    <label> 
                                                        <span>Username</span> 
                                                    </label>
                                                    <div class="form-group">
                                                        <input type="text" name="username" id="username" th:field="*{username}" class="form-control " placeholder="Username" th:value="${username}" required/>
                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Please choose a username with more than 4 characters.
                                                        </div>
                                                    </div>

                                                    <!-- PASSWORD INPUT FIELD -->

                                                    <label> 
                                                        <span>Password</span> 
                                                    </label>
                                                    <div class="form-group" ng-controller="PasswordController">
                                                        <input type="password" ng-model="password" ng-change="analyze(password)" name="password" id="password" th:field="*{password}" class="form-control" placeholder="Password *" value="" required/>
                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            <br>
                                                            <div ng-style="passwordStrength"></div>
                                                            <br>
                                                        </div>
                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Your password must <br>
                                                            Be longer than 6 Characters <br>
                                                            Include at least one Symbol:( e.g. @#$% ) <br>
                                                            Include at least one  Number:( e.g. 123456 ) <br>
                                                            Include at least one  Character ( e.g. abcdefgh or ABCDEFGH) <br>
                                                            <!-- Include at least one  Lowercase Character:( e.g. abcdefgh ) <br>
                                                            Include at least one  Uppercase Character:( e.g. ABCDEFGH ) -->
                                                        </div>
                                                        
                                                    </div>

                                                    

                                                    <!-- CONFIRM PASSWORD INPUT FIELD -->

                                                    <label> 
                                                        <span>Confirm Password</span> 
                                                    </label>
                                                    <div class="form-group">
                                                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"  placeholder="Confirm Password *" value="" required/>
                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Confirm password doesn't match with password
                                                        </div>
                                                    </div>
                                    </div>
                                    <!-- -------------------------SECOND COLUMN------------------------- -->
                                    <div class="col-md-6">

                                                    <!-- EMAIL INPUT FIELD -->

                                                    <label> 
                                                        <span>Email</span> 
                                                    </label>
                                                    <div class="form-group">
                                                        <input type="email" id="email" name="email" th:field="*{email}" class="form-control" placeholder="Your Email *" value="" required/>
                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Your email address is invalid.
                                                        </div>
                                                    </div>
                                                    


                                                    <!-- PHONE INPUT FIELD -->

                                                    <label> 
                                                        <span>Phone Number</span> 
                                                    </label>
                                                    <div class="form-group">
                                                        <input type="tel" id="phone" minlength="10" maxlength="15" name="phone" th:field="*{phoneNumber}"  class="form-control" placeholder="Your Phone *" onkeypress="return isNumberKey(event)"  value="" required/>
                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Your phone must be numbers only.
                                                        </div>
                                                    </div>

                                                    <!-- ROLE INPUT FIELD -->
                                                   
                                                    
                                                    <div class="form-group">

                                                        <label> 
                                                            <span>Select your role [[${role}]] </span> 
                                                        </label>
                                                        
                                                        <select class="form-control" th:field="*{roles}" id="role" name="role" >
                                                            <option class="hidden"  th:value="0" th:text="Please_select_your_role" selected disabled></option>
                                                            <option id="callOperator" th:value="TILEFONITIS" th:text="Call_Operator"></option>
                                                            <option id="radioOperator" th:value="TILEFONITIS" th:text="Radio_Operator"></option>
                                                            <option id="masterAdmin" th:value="ADMIN" th:text="Master_Admin"></option>
                                
                                                        </select>

                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>

                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Please choose a role.
                                                        </div>
                                                        
                                                    </div>

                                                    <!-- DOB INPUT FIELD -->

                                                    <label> 
                                                        <span>Date of birth </span> 
                                                    </label>
                                                    <div class="form-group"> 
                                                        <!-- Date input -->
                                                        <input class="form-control" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" type="text" required/>
                                                        <!-- VALID NAME -->
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                        <!-- INVALID NAME -->
                                                        <div class="invalid-feedback">
                                                            Please choose your date of birth.
                                                        </div>
                                                    </div>

                                                    <!-- GENDER INPUT FIELD -->

                                                    <label> 
                                                        <span>Select gender </span> 
                                                    </label>
                                                    <div class="form-group">
                                                        <div class="maxl">
                                                            <label class="radio inline"> 
                                                                <input type="radio" name="gender" value="male" checked>
                                                                <span> Male </span> 
                                                            </label>
                                                            <label class="radio inline"> 
                                                                <input type="radio" name="gender" value="female">
                                                                <span>Female </span> 
                                                            </label>
                                                        </div>
                                                        
                                                    </div>

                                                    <input type="submit" id="submit" name="submit"  class="btnRegister"  value="Register"/>
                                  
                                                </div>
                                 
                            </div>
                            
                        </form>

                        </div>
                                        

                    </div>


                </div>


            </div>
        
        </div>

        <script>

function isNumberKey(evt)
			{
				var charCode = (evt.which) ? evt.which : evt.keyCode;
				if (charCode != 46 && charCode > 31 
				&& (charCode < 48 || charCode > 57))
				return false;
				return true;
            }  
            

            var myApp = angular.module("myapp", []);
            myApp.controller("PasswordController", function($scope) {
        
                var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})");
                var mediumRegex = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");
        
                $scope.passwordStrength = {
                    "float": "left",
                    "width": "100px",
                    "height": "25px",
                    "margin-left": "5px"
                };
        
                $scope.analyze = function(value) {
                    if(strongRegex.test(value)) {
                        $scope.passwordStrength["background-color"] = "green";
                    } else if(mediumRegex.test(value)) {
                        $scope.passwordStrength["background-color"] = "orange";
                    } else {
                        $scope.passwordStrength["background-color"] = "red";
                    }
                };
        
            });
        </script>

       <script th:inline="javascript">

        /*<![CDATA[*/

            var role = [[${role}]];

            if(role == 'ADMIN')
            {

                $('#callOperator').prop('disabled', true);
                $('#radioOperator').prop('disabled', true);
            }

            if(role == 'GUEST')
            {
                $('#masterAdmin').prop('disabled', true);
            }

            
            

        /*]]>*/

        

        function validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

       

        // function validateDob(dob) {
        //     const dateRegex = /^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]|(?:Jan|Mar|May|Jul|Aug|Oct|Dec)))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2]|(?:Jan|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)(?:0?2|(?:Feb))\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9]|(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep))|(?:1[0-2]|(?:Oct|Nov|Dec)))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/;
        //     return dateRegex.test(dob);
        // }

        
        $(document).ready(function(){

            

            // FORM VALIDATION

            var name,surname,username,password,confirmPassword,email,phone,role,dob,gender;
        
            // NAME VALIDATION
            name = $("#name").val();
            $("#name").on("input", function(){

                name = $(this).val();

                if($(this).val().length >=3)
                {
                    $("#name").attr('class', 'form-control is-valid');
                    
                }

                else if($(this).val().length <3)
                {
                    $("#name").attr('class', 'form-control is-invalid');
                    
                }
            });

             // SURNAME VALIDATION
             surname = $("#surname").val();
             $("#surname").on("input", function(){

                surname = $(this).val();

                if($(this).val().length >=3)
                {
                    $("#surname").attr('class', 'form-control is-valid');
                    
                }

                else if($(this).val().length <3)
                {
                    $("#surname").attr('class', 'form-control is-invalid');
                    
                }
            });

             // USERNAME VALIDATION
             username = $("#username").val();

             
            
             $("#username").on("input", function(){

                username = $(this).val();

                if($(this).val().length >=3)
                {
                    $("#username").attr('class', 'form-control is-valid');
                    
                }

                else if($(this).val().length <3)
                {
                    $("#username").attr('class', 'form-control is-invalid');
                    
                }

            });

            // PASSWORD VALIDATION
            password = $("#password").val();
            var pattern = new RegExp("^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})");

            
            
            $("#password").on("input", function(){
                password = $(this).val();


                if(pattern.test(password))
                {
                    
                    $("#password").attr('class', 'form-control is-valid');
                    
                }

                else
                {
                    
                    $("#password").attr('class', 'form-control is-invalid');
                    
                }

                if(pattern.test(password) && password!=confirmPassword)
                {
                    $("#confirmPassword").attr('class', 'form-control is-invalid');
                }

            });

            // CONFIRM PASSWORD VALIDATION
            confirmPassword = $("#confirmPassword").val();
            $("#confirmPassword").on("input", function(){

                confirmPassword = $(this).val();

                if($(this).val().length >=3)
                {
                    $("#confirmPassword").attr('class', 'form-control is-valid');
                    
                }

                else if($(this).val().length <3)
                {
                    $("#confirmPassword").attr('class', 'form-control is-invalid');
                    
                }

                if(password!=confirmPassword)
                {
                    $("#confirmPassword").attr('class', 'form-control is-invalid');
                }

            });


            // EMAIL VALIDATION
            email = $("#email").val();
                

            $("#email").on("input", function(){

                email = $(this).val();

                if(validateEmail(email))
                {
                    console.log("OK");
                    $("#email").attr('class', 'form-control is-valid');
                    
                }

                else
                {
                    console.log("FAILED");
                    $("#email").attr('class', 'form-control is-invalid');
                    
                }

            });


            // PHONE VALIDATION
            phone = $("#phone").val();
            $("#phone").on("input", function(){

                phone = $(this).val();

                if($(this).val().length >=10)
                {
                    
                    $("#phone").attr('class', 'form-control is-valid');
                    
                }

                else if( $(this).val().length <10)
                {
                    
                    $("#phone").attr('class', 'form-control is-invalid');
                    
                }

            });


            // ROLE VALIDATION
            role = $("#role").val();
            
            $("#role").on("input", function(){

                role = $(this).val();

                if($(this).val())
                {
                    $("#role").attr('class', 'form-control is-valid');        
                }   

            });


            // DOB VALIDATION
            dob = $("#date_of_birth").val();

            $("#date_of_birth").change("input", function(){

                dob = $(this).val();

                if($(this).val())
                {
                    $("#date_of_birth").attr('class', 'form-control is-valid');
                        
                }


            });


            // ON FORM SUBMIT
            $( "#submit" ).click(function() {

                //NAME ON SUBMIT VALIDATION
                if(name.length >= 3)
                {
                    $("#name").attr('class', 'form-control is-valid');
                }

                else if(name.length < 3)
                {
                    $("#name").attr('class', 'form-control is-invalid');
                }

                //SURNAME ON SUBMIT VALIDATION
                if(surname.length >= 3)
                {
                    $("#surname").attr('class', 'form-control is-valid');
                }

                else if(surname.length < 3)
                {
                    $("#surname").attr('class', 'form-control is-invalid');
                }

                
                //USERNAME ON SUBMIT VALIDATION
                if(username.length >= 3)
                {
                    $("#username").attr('class', 'form-control is-valid');
                }

                else if(username.length < 3)
                {
                    $("#username").attr('class', 'form-control is-invalid');
                }

                //PASSWORD ON SUBMIT VALIDATION

                if(pattern.test(password))
                {
                    
                    $("#password").attr('class', 'form-control is-valid');
                    
                }

                else
                {
                    
                    $("#password").attr('class', 'form-control is-invalid');
                    
                }

                if(pattern.test(password) && password!=confirmPassword)
                {
                    $("#confirmPassword").attr('class', 'form-control is-invalid');
                }

                //CONFIRM PASSWORD ON SUBMIT VALIDATION

                if(confirmPassword.length >=3)
                {
                    $("#confirmPassword").attr('class', 'form-control is-valid');
                    
                }

                else if(confirmPassword.length <3)
                {
                    $("#confirmPassword").attr('class', 'form-control is-invalid');
                    
                }

                if(password!=confirmPassword)
                {
                    $("#confirmPassword").attr('class', 'form-control is-invalid');
                }

                
                //EMAIL ON SUBMIT VALIDATION
                if(validateEmail(email))
                {
                    
                    $("#email").attr('class', 'form-control is-valid');
                }

                else
                {
                    $("#email").attr('class', 'form-control is-invalid');
                }

                //PHONE ON SUBMIT VALIDATION

                if(phone.length  >=10)
                {
                    $("#phone").attr('class', 'form-control is-valid');
                    
                }

                else if(phone.length <10)
                {
                    $("#phone").attr('class', 'form-control is-invalid');
                    
                }


                //ROLE ON SUBMIT VALIDATION
                
                if(role === null)
                {
                    $("#role").attr('class', 'form-control is-invalid');
                    
                }
                
           
                //DOB ON SUBMIT VALIDATION
                if(dob.length === 0)
                {
                    $("#date_of_birth").attr('class', 'form-control is-invalid');
                }
                else
                {
                    $("#date_of_birth").attr('class', 'form-control is-valid');
                }


                

                if(name.length >= 3 && surname.length >= 3 && username.length >= 3 && pattern.test(password) && password==confirmPassword && validateEmail(email) && phone.length  >=10 && role != null && dob.length != 0)
                {
                    alert("all fields ok");

                    // name
                    // surname
                    // username
                    // password
                    // email
                    // phone
                    // role
                    // dob
                    // gender
                }

                else{
                    alert("fields not ok");
                }

 

            });


        });

        
        //HIDE AND SHOW REGISTRATION FORM DEPENDING ON USER OR AMBULANCE

        $("#ambulance_btn").click(function(){
            $("employee_div").hide();
            $("ambulance_div").show();
        });

        $("#employee_btn").click(function(){
            $("ambulance_div").hide();
            $("employee_div").show();
        });

        // DATE PICKER JQUERY FUNCTION
        $(document).ready(function(){
            var date_input=$('input[name="date_of_birth"]'); //our date input has the name "date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
        //DEPENDING ON ROLE SHOW FORM

       </script>
                  
    </body>
</html>